// For example:
$brand-color: #FFC400;

$red: #EE5F5B;
$light-red: #F7A5A3;
$blue: #314782;
$yellow: #FFC400;
$orange: #E8A219;
$green: #21B91E;
$light-green: #83DBC5;
$gray: #69727D;
$light-gray: #F4F4F4;
$black: #000000;
